<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(38, 4, 82);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: chartreuse;">{{userName}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: chartreuse;">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav  mb-2 mb-lg-0 " style="float: right;">
           <li class="nav-item mr-auto">
          <a class="nav-link active" href="/logout" style="color: chartreuse;">Log Out</a>
        </li>
      </ul>
     
    </div>
  </div>
</nav>
 
<div class="container">
  <div class="row  d-flex justify-content-center">
    <h2 class="d-flex justify-content-center mt-5" style="color: royalblue;">Hi {{userName}},Welcome </h2>
  </div>
</div>
<!-- First Row [Prosucts]-->
    <h2 class="font-weight-bold mb-2">Deals of the Day</h2>
    <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
    
    <div class="row pb-5 mb-4">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556485076/shoes-1_gthops.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
                       <h2 class="small text-muted font-italic text-center">Nike Air Max 270.</h2> 
                    <a href="#" class="btn btn-primary d-flex justify-content-center">Add Cart</a>
                   
                    
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556485077/shoes-3_rk25rt.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
                     <h2 class="small text-muted font-italic">Air Max 95 OG.</h2>
                    <a href="#" class="btn btn-primary d-flex justify-content-center">Add Cart</a>
                    
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556485078/shoes-2_g4qame.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
                      <h2 class="small text-muted font-italic">Air Max Motion.</h2>
                    <a href="#" class="btn btn-primary d-flex justify-content-center">Add Cart</a>
                    
                </div>
            </div>
        </div>

          
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556485078/shoes-2_g4qame.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
                      <h2 class="small text-muted font-italic">Air Max Motion.</h2>
                    <a href="#" class="btn btn-primary d-flex justify-content-center">Add Cart</a>
                    
                </div>
            </div>
        </div>

  
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556485078/shoes-2_g4qame.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
                      <h2 class="small text-muted font-italic">Air Max Motion.</h2>
                    <a href="#" class="btn btn-primary d-flex justify-content-center">Add Cart</a>
                    
                </div>
            </div>
        </div>

  
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556485078/shoes-2_g4qame.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
                      <h2 class="small text-muted font-italic">Air Max Motion.</h2>
                    <a href="#" class="btn btn-primary d-flex justify-content-center">Add Cart</a>
                    
                </div>
            </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556485078/shoes-2_g4qame.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
                      <h2 class="small text-muted font-italic">Air Max Motion.</h2>
                    <a href="#" class="btn btn-primary d-flex justify-content-center">Add Cart</a>
                    
                </div>
            </div>
        </div>

  
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556485078/shoes-2_g4qame.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
                      <h2 class="small text-muted font-italic">Air Max Motion.</h2>
                    <a href="#" class="btn btn-primary d-flex justify-content-center">Add Cart</a>
                    
                </div>
            </div>
        </div>

